/* xs */
@media screen and (max-width: 475px) {
    nav {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #nav-logo-container {
        grid-row-start: 1;
        grid-column-start: 1;
        width: max-content;
        margin-top: 25px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
    }
    
    #nav-logo {
        grid-row-start: 1;
        grid-column-start: 1;
        font-size: 20px;
        margin-top: 25px;
        height: 50px;
        justify-self: center;
        align-self: center;
    }

    #nav-buttons {
        grid-row-start: 2;
        grid-column-start: 1;
        justify-content: center;
        align-content: center;
    }
    
    button.nav-button {
        font-size: 12px;
        margin: 5px 0px 5px 0px;
        padding: 5px 0px 5px 0px;
        text-align: center;
        width: 70px;
    }
    
    #dark-mode-button {
        text-align: center;
        width: 40px;
    }

    #dark-mode-button-img {
        height: 15px;
        width: 15px;
    }
    
    #nav-break {
        grid-row: 3 / -1;
        height: 3px;
    }
    
    /* ASIDE */
    
    #aside-grid {
        margin-top: 15px;
    }
    
    aside {
        display: none;
        width: 100px;
        top: 15vh;
    }
    
    aside::-webkit-scrollbar {
        display: none;
    }
    
    /* MAIN SECTIONS */
    
    #main-content {
        width: 75vw;
        overflow-x: hidden;
    }
}