/* xs */
@media screen and (max-width: 475px) {
    nav {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    #nav-logo {
        grid-row-start: 1;
        grid-column-start: 1;
        font-size: 20px;
        margin-top: 25px;
        height: 50px;
        line-height: 50px;
        justify-self: center;
        align-self: center;
    }

    #nav-buttons {
        grid-row-start: 2;
        grid-column-start: 1;
        justify-content: center;
        align-content: center;
    }

    a.nav-link {
        margin: 15px 0px 15px 0px;
    }
    
    button.nav-button {
        font-size: 12px;
        padding: 15px 0px 15px 0px;
        margin: none;
        width: 70px;
    }
    
    /* A nav button that does not have an a.nav-link wrapper. */
    button.unlinked-nav-button {
        font-size: 12px;
        margin: 15px 0px 15px 0px;
        width: 70px;
    }
    
    #dark-mode-button {
        text-align: center;
        width: 40px;
    }

    #dark-mode-button-img {
        height: 15px;
        width: 15px;
    }
    
    #nav-break {
        grid-row: 3 / -1;
        height: 3px;
    }
    
    #aside-grid {
        grid-template: 1fr / 1fr;
    }
    
    #aside-separator {
        display: none;
    }
    
    aside {
        display: none;
    }

    
    /* MAIN SECTIONS */
    
    #main-content {
        grid-column-start: 1;
        width: 80vw;
    }
}