:root {
    --background-color: #ffffff;
    --main-color: #4A7856;
    --bold-color: #074B35;
    --accent-color: #D8CF6F;
    --text-color: #000000;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


html {
    background-color: var(--background-color);
}

body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/* NAVBAR */

nav {
    background-color: var(--background-color);
    display: grid;
    grid-template: 1fr / 0.5fr min-content 1fr 1fr 0.5fr;
}

#nav-logo {
    grid-column-start: 2;
    width: max-content;
    color: var(--main-color);
    font-size: 30px;
    font-family: var(--font-family);
    font-weight: 600;
    justify-content: center;
    align-content: center;
}

#nav-buttons {
    grid-column-start: 4;
    display: flex;
    justify-content: flex-end;
}

button.nav-button {
    background-color: var(--background-color);
    font-size: 15px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--text-color);
    margin: 15px;
    width: max(100px, 1vw);
    border: none;
    outline: none;
    border-radius: 0.7em;
}

#dark-mode-button {
    width: 70px;
}

button.nav-button:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

#nav-break {
    height: 5px;
    background-color: var(--main-color);
    grid-row-start: 2;
    grid-column: 1 / -1;
}

/* ASIDE */

#aside-grid {
    display: grid;
    grid-template: 1fr / 1fr auto;
    margin-top: 50px;
}

aside {
    position: sticky;
    background-color: var(--background-color);
    height: 70vh;
    margin-left: 50px;
    margin-right: 5vw;
    width: 270px;
    top: 15vh;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 15px;
    overflow-y: scroll;
}

aside::-webkit-scrollbar {
    display: none;
}

/* MAIN SECTIONS */

#main-content {
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 15px;
    overflow-x: hidden;
}



