/* xs */
@media screen and (max-width: 750px) {
    nav {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    #nav-logo {
        grid-row-start: 1;
        grid-column-start: 1;
        font-size: 20px;
        margin-top: 25px;
        height: 50px;
        line-height: 50px;
        justify-self: center;
        align-self: center;
    }

    #nav-buttons {
        grid-row-start: 2;
        grid-column-start: 1;
        justify-content: center;
        align-content: center;
    }

    a.nav-link {
        margin: 15px 0px 15px 0px;
    }
    
    button.nav-button {
        font-size: 12px;
        padding: 15px 0px 15px 0px;
        margin: none;
        width: 70px;
    }
    
    /* A nav button that does not have an a.nav-link wrapper. */
    button.unlinked-nav-button {
        font-size: 12px;
        margin: 15px 0px 15px 0px;
        width: 70px;
    }
    
    #dark-mode-button {
        text-align: center;
        width: 40px;
    }

    #dark-mode-button-img {
        height: 15px;
        width: 15px;
    }
    
    #nav-break {
        grid-row: 3 / -1;
        height: 3px;
    }
    
    div.aside-grid {
        grid-template: 1fr / 10vw auto 10vw;
    }
    
    aside {
        display: none;
    }

    /* MAIN SECTIONS */
    
    div.centered {
        grid-column-start: 1;
        width: 80vw;
    }

    /* ABOUT */
    #introduction {
        display: grid;
        position: relative;
        grid-template: 1fr max-content max-content / 1fr;
    }

    #hello-container {
        display: grid;
        grid-template: max-content 1fr / 1fr;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: -1;
        width: 100%;
        height: min-content;
    }

    #face-image {
        position: static;
        grid-row-start: 2;
        justify-self: center;
        align-self: center;
    }

    #hello {
        grid-column-start: 1;
        grid-column-end: -1;
        align-self: start;
    }

    br.superficial {
        display: none;
    }

    #summary {
        align-self: start;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #socials {
        margin-top: 40px;
    }

    /* RESUME */
    
    span.text-long {
        display: none;
    }

    span.text-tiny {
        display: inline;
    }

    div.project-title {
        font-size: 16px;
    }
}