
section {
    position: relative;
    height: 500px;
}

div.project-title {
    z-index: 5;
    position: absolute;
    color: white;
    font-family: var(--font-family);
    font-size: 25px;
    width: max-content;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
}

img.project-image {
    position: relative;
    width: inherit;
    object-fit: cover;
}

.project-wrapper {
    place-self: center;
    margin: none;
    padding: none;
    max-width: 1650px; 
    height: min-content;
    max-height: 350px;
    box-sizing: border-box;
    overflow: hidden;
}

.project {
    margin: none;
    padding: none;
    height: max-content;
}

.project::before {
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    width: inherit;
    height: 80%;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
}