/* md */
@media screen and (max-width: 1100px) and (min-width: 751px) {
    NAVBAR
    #nav-logo {
        font-size: 25px;
        height: 77px;
        line-height: 77px;
        text-align: center;
    }

    a.nav-link {
        margin: 15px 0px 15px 0px;
    }
    
    button.nav-button {
        font-size: 14px;
        padding: 15px 0px 15px 0px;
        margin: none;
        width: 90px;
    }
    
    /* A nav button that does not have an a.nav-link wrapper. */
    button.unlinked-nav-button {
        font-size: 14px;
        margin: 15px 0px 15px 0px;
        width: 90px;
    }
    
    #dark-mode-button {
        width: 65px;
    }
    
    #dark-mode-button-img {
        height: 25px;
        width: 25px;
    }

    #nav-break {
        grid-row: 3 / -1;
    }
    
    #aside-grid {
        grid-template: 1fr / 1fr;
    }
    
    #aside-separator {
        display: none;
    }
    
    aside {
        display: none;
    }

    #about {
        position: static;
        margin: 0px auto 0px auto;
        display: flex;
        flex-direction: column;
        width: max-content;
        align-items: flex-end;
        background-color: var(--background-color);
        font-family: var(--font-family);
        color: var(--text-color);
        font-size: 15px;
        overflow-x: hidden;
    }
    
    #main-content {
        grid-column-start: 2;
        justify-self: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        background-color: var(--background-color);
        font-family: var(--font-family);
        color: var(--text-color);
        font-size: 15px;
        overflow-x: hidden;
    }

    
    /* MAIN SECTIONS */
    
    #about {
        grid-column-start: 1;
        width: 80vw;
    }

    /* ABOUT */
    #introduction {
        display: grid;
        position: relative;
        grid-template: 1fr max-content max-content / 1fr;
    }

    #hello-container {
        display: grid;
        grid-template: max-content 1fr / 1fr;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: -1;
        width: 100%;
        height: min-content;
    }

    #face-image {
        position: static;
        grid-row-start: 2;
        justify-self: center;
        align-self: center;
    }

    #hello {
        grid-column-start: 1;
        grid-column-end: -1;
        align-self: start;
    }

    br.superficial {
        display: none;
    }

    #summary {
        align-self: start;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #socials {
        margin-top: 40px;
    }

    /* RESUME */
    
    span.text-long {
        display: none;
    }

    span.text-short {
        display: inline;
    }
}